/* The variables in this file are widely used within the application's styling. This file is usually imported
in other SCSS files that make use of these colours. */

$mainColor: #1A1D2A;
$secondaryColor: #2C3E50;
$secondaryHoverColor: #212e3b;
$standOutColor: #6495ed;
$standOutHoverColor: #5183d5;